*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    line-height: 30px;
    box-sizing: border-box;
    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
    transition: all 0.5s;
}

@mixin grid-format{
    display: grid;
    grid-gap: 10px;
}

html, body{
    scroll-behavior: smooth;

    a{
        text-decoration: none;
    }

    .background-dark{
        background-color: #e6e6e6;
    }
    
    /*****Card Styling*****/
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #111111;

        .card-icon{
            font-size: 4em;
            border-radius: 50%;
            color: #111111;
        }

        .card-img-top{
            max-width: 100px;
            max-height: 100px;
            width: 100%;
            height: 100%;
        }
    }
}

/*****Navigation Bar Styling*****/
#navbar{
    
    /*****Logo Styling*****/
    #logo{
        max-width: 60px;
        max-height: 60px;
        width: 100%;
        height: 100%;
    }

}

/*****Main Content Container Styling*****/
main{

    .container-fluid{
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container{
            @include grid-format;
        }
    }

}

/**************************************************************Mobile Layout***************/
@media only screen and (min-width: 320px){

    /*****Main Content Container Styling*****/
    main{

        /*****About Container Styling*****/
        #about-container{

            /*****Social Media Styling*****/
            #social-media{
                display: flex;
                justify-content: center;
                align-items: center;

                a{
                    border-radius: 50%;
                    border: 0.5px solid rgba(0, 0, 0, 0.5);
                    color: #111111;
                    padding: 10px 10px;
                }
            }

        }

        /*****Services Container Styling*****/
        #services-container{
            .container{
                grid-template-columns: auto;
            }
        }

        /*****Skills Container Styling*****/
        #skills-container{
            .container{
                grid-template-columns: auto auto;
            }
        }

        /*****Contact Container Styling*****/
        #contact-container{
            .container{
                grid-template-columns: auto;
            }
        }

    }

}

/**************************************************************Tablet Layout***************/
@media only screen and (min-width: 768px){

    /*****Main Content Container Styling*****/
    main{

        /*****Services Container Styling*****/
        #services-container{
            .container{
                grid-template-columns: auto auto;
            }
        }

        /*****Skills Container Styling*****/
        #skills-container{
            .container{
                grid-template-columns: auto auto auto;
            }
        }

        /*****Projects Container Styling*****/
        #project-container{
            .container{
                grid-template-columns: auto auto auto auto;
            }
        }

    }

}

/**************************************************************Laptop, Desktop & Large Screen Layout***************/
@media only screen and (min-width: 1024px){

    html, body{
        font-size: 120%;
    }

}