* {
  margin: 0px;
  padding: 0px;
  line-height: 30px;
  transition: all 0.5s;
  scroll-behavior: smooth;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*****Custom Styles*****/
/*****Default Spacing Styling*****/
/*****Scroller Styling*****/
html {
  overflow-x: hidden;
}
html body {
  /*****Card Styling*****/
  /*****Social Media Styling*****/
}
html body a, html body h2, html body h3, html body label, html body button {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #111111;
  margin: 5px 5px;
  padding: 10px 10px;
}
html body .background-dark {
  background-color: #262626;
}
html body .background-dark h2 {
  color: #bdbdbd;
}
html body .card {
  width: 100%;
}
html body .card .card-img-top {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
html body .card .card-body {
  list-style-type: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}
html body .card .card-body .card-title {
  text-align: center;
}
html body .card .card-body .btn-link {
  text-decoration: none;
}
html body .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  padding: 10px 10px;
}
html body .social-media .social-media-link {
  border-radius: 50%;
  color: #ffffff;
  background-color: #111111;
}

/*****Navigation Bar Styling*****/
#navbar {
  /*****Logo Styling*****/
}
#navbar #logo {
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  height: 100%;
}

/*****Main Content Container Styling*****/
main {
  padding: 95px 0px 0px;
}
main .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0px 0px;
  padding: 10px 0px;
}
main .container-fluid h2 {
  text-align: center;
}
main .container-fluid .container {
  display: grid;
  grid-gap: 10px 10px;
}

/**************************************************************Mobile Layout***************/
@media only screen and (min-width: 320px) {
  /*****Main Content Container Styling*****/
  main {
    /*****About Container Styling*****/
    /*****Services Container Styling*****/
    /*****Skills Container Styling*****/
    /*****Projects Container Styling*****/
    /*****Contact Container Styling*****/
  }
  main #about-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/about_background.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  main #about-section * {
    color: #bdbdbd;
  }
  main #about-section #about-container {
    grid-template-columns: auto;
  }
  main #services-section #services-container {
    grid-template-columns: auto;
  }
  main #skills-section #skills-container {
    grid-template-columns: auto auto;
  }
  main #projects-section #projects-container {
    min-width: 95%;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 5px 5px;
    padding: 10px 10px;
  }
  main #projects-section #projects-container::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #bdbdbd;
  }
  main #projects-section #projects-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b3b3b3;
  }
  main #projects-section #projects-container .card {
    min-width: 50vw;
    justify-content: flex-start;
    align-items: flex-start;
  }
  main #projects-section #projects-container .card .card-img-top {
    height: 50vh;
  }
  main #projects-section #projects-container .card .btn-link {
    border-radius: 5px;
    margin: 5px 0px;
    padding: 5px 5px;
    color: #bdbdbd;
    background-color: #262626;
  }
  main #contact-section #contact-container {
    grid-template-columns: auto;
  }
  main #contact-section #contact-container input {
    margin: 5px 10px;
  }
}
/**************************************************************Tablet Layout***************/
@media only screen and (min-width: 768px) {
  /*****Main Content Container Styling*****/
  main {
    /*****Services Container Styling*****/
    /*****Skills Container Styling*****/
  }
  main #services-section #services-container {
    grid-template-columns: auto auto;
  }
  main #skills-section #skills-container {
    grid-template-columns: auto auto auto auto;
  }
}
/**************************************************************Laptop, Desktop & Large Screen Layout***************/
@media only screen and (min-width: 1024px) {
  html {
    font-size: 105%;
  }
  html body {
    /*****Social Media Styling*****/
  }
  html body .social-media .social-media-link:hover {
    cursor: pointer;
    background-color: #262626;
  }
}/*# sourceMappingURL=portfolioStyle.css.map */