* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  margin: 0px;
  padding: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

html, body {
  scroll-behavior: smooth;
  /*****Card Styling*****/
}

html a, body a {
  text-decoration: none;
}

html .background-dark, body .background-dark {
  background-color: #e6e6e6;
}

html .card, body .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111111;
}

html .card .card-icon, body .card .card-icon {
  font-size: 4em;
  border-radius: 50%;
  color: #111111;
}

html .card .card-img-top, body .card .card-img-top {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
}

/*****Navigation Bar Styling*****/
#navbar {
  /*****Logo Styling*****/
}

#navbar #logo {
  max-width: 60px;
  max-height: 60px;
  width: 100%;
  height: 100%;
}

/*****Main Content Container Styling*****/
main .container-fluid {
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container-fluid .container {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

/**************************************************************Mobile Layout***************/
@media only screen and (min-width: 320px) {
  /*****Main Content Container Styling*****/
  main {
    /*****About Container Styling*****/
    /*****Services Container Styling*****/
    /*****Skills Container Styling*****/
    /*****Contact Container Styling*****/
  }
  main #about-container {
    /*****Social Media Styling*****/
  }
  main #about-container #social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main #about-container #social-media a {
    border-radius: 50%;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    color: #111111;
    padding: 10px 10px;
  }
  main #services-container .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  main #skills-container .container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  main #contact-container .container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

/**************************************************************Tablet Layout***************/
@media only screen and (min-width: 768px) {
  /*****Main Content Container Styling*****/
  main {
    /*****Services Container Styling*****/
    /*****Skills Container Styling*****/
    /*****Projects Container Styling*****/
  }
  main #services-container .container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  main #skills-container .container {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  main #project-container .container {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

/**************************************************************Laptop, Desktop & Large Screen Layout***************/
@media only screen and (min-width: 1024px) {
  html, body {
    font-size: 120%;
  }
}
/*# sourceMappingURL=portfolioStyle.css.map */